<header class="intro-header">
  <div class="row">
    <div class='container'>
      <div class='col-md-6 col-md-offset-3'>
        <div class="tab-content">
          <div id="login" class="tab-pane fade in active">
            <%= render 'sessions/login' %>
          </div>
        </div>
      </div>
    </div>
  </div>  
</header>
